<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347571404214-0lvnn0gdem1l24i7c04kg4b1aggkdh5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347571404214-0lvnn0gdem1l24i7c04kg4b1aggkdh5s</string>
	<key>API_KEY</key>
	<string>AIzaSyB2JZgdt5iAOsRL1n-WCJxglrvsV92hMK8</string>
	<key>GCM_SENDER_ID</key>
	<string>347571404214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSchemaHealth</string>
	<key>PROJECT_ID</key>
	<string>patdeployments</string>
	<key>STORAGE_BUCKET</key>
	<string>patdeployments.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347571404214:ios:3738ba3741294367cb1517</string>
	<key>DATABASE_URL</key>
	<string>https://patdeployments-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>